"Typically Python comes with pip, a package installer. Using it you can install pypdf:

pip install pypdf
If you are not a super-user (a system administrator / root), you can also just install pypdf for your current user:

pip install --user pypdf"

--
pip install pyttsx3
https://pypi.org/project/pyttsx3/
--


https://gtts.readthedocs.io/en/latest/module.html#module-gtts.tts
gtts

"Tkinter fails to match the range of widgets provided by other
GUI tools, such as wxPython advanced widget set and PyQt."

"In addition to Tkinter, there are several other popular Python GUI toolkits. Most popular
ones include wxPython, PyQt, PySide, and PyGTK. Here's a brief discussion on these toolkits"

"PyQt, Kivy, Tkinter, PySimpleGUI, WxPython and many others"